* {
  box-sizing: border-box;
  font-family: "Rubik";
  background-color: #eeeeee;
  font-size: 14px;
}

body {
  max-width: 1200px;
}

#root {
  color: #003580;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titlebloc {
  width: 80%;
  align-self: flex-start;
  color: #003580;
  background-color: #eeeeee;
  border-bottom: 4px solid red;
  border-left: 4px solid red;
  border-bottom-left-radius: 8px;
  padding: 8px;
  padding-left: 30px;
  margin: 12px;
  margin-left: 45px;
  font-size: 20px;
  font-weight: 600;
}

.navbar {
  width: 95%;
  background-color: #C8C8C8;
  margin: 12px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
  border-radius: 8px;
}

.centerbar {
  width: 95%;
  margin: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bouton {
  background-color: #579eff;
  color: yellow;
  padding: 8px;
  border-radius: 8px;
  font-size: 14px;
  text-align: center;
  margin-left: 12px;
  cursor: pointer;
  min-width: 125px;
  transition: 500ms;
  border: 2px solid #579eff;
}
.bouton_retour {
  background-color: #579eff;
  padding: 8px;
  border-radius: 8px;
  font-size: 14px;
  text-align: center;
  margin-left: 12px;
  cursor: pointer;
  transition: 500ms;
  border: 2px solid #579eff;
  color: yellow;
}
.bouton_retour:hover {
  background-color: #003580;
}
.bouton:hover {
  background-color: #003580;
}
.bouton_select {
  border: 2px solid #003580;
}
.bouton_year {
  background-color: #bbbbbb;
  color: #003580;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #003580;
  border-radius: 16px;
  margin: 8px;
  font-size: 14px;
  font-weight: 600;
  max-width: 60px;
  cursor: pointer;
}

.icons {
  color: #003580;
  font-size: 22px;
  cursor: pointer;
}

.error_message {
  font-size: 22px;
  font-weight: 600;
  color: red;
  margin: 8px;
  border: 2px solid red;
  padding: 12px;
}
.error_message .icons {
  color: red;
  font-size: 22px;
  margin: 0 8px;
  cursor: none;
}

.presentBloc {
  width: 70%;
  height: 40px;
  display: flex;
  margin: 8px;
}
.presentBloc_title {
  width: 20%;
  padding: 5px;
  font-size: 19px;
  line-height: 40px;
}
.presentBloc_title img {
  height: 18px;
  margin-left: 20px;
}
.presentBloc_data {
  width: 60%;
  background-color: #bbbbbb;
  padding: 5px;
  text-align: center;
  font-size: 19px;
  line-height: 40px;
}
.presentBloc_data img {
  height: 18px;
  margin-left: 20px;
}
.presentBloc_data textarea {
  width: 100%;
  text-align: center;
  border: none;
  background-color: #bbbbbb;
  margin: 0;
}
.presentBloc_data textarea:focus {
  border: none;
}
.presentBloc_bar {
  width: 20%;
  text-align: center;
}
.presentBloc_bar i {
  font-size: 19px;
  padding: 5px;
  cursor: pointer;
}

.gallerie {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}
.gallerie_image {
  width: 25%;
}
.gallerie_image img {
  width: 95%;
  -o-object-fit: cover;
     object-fit: cover;
}

.spinloader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.spinloader:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: red transparent #003580 transparent;
  -webkit-animation: spinloader 1.2s infinite;
          animation: spinloader 1.2s infinite;
}

@-webkit-keyframes spinloader {
  0% {
    transform: rotate(0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

@keyframes spinloader {
  0% {
    transform: rotate(0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
.header {
  display: flex;
  width: 95%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 4px solid #579eff;
  margin-top: 10px;
  margin-bottom: 20px;
}
.header_logo {
  width: 15%;
}
.header_logo img {
  width: 90%;
}
.header_title {
  width: 70%;
  text-align: center;
  font-family: "Open Sans";
  color: #003580;
  line-height: 30px;
}
.header_title h1 {
  font-size: 30px;
}

.footerContainer {
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 8px;
  border-top: 3px solid #579eff;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}
.navigation_card {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.navigation_card--image {
  width: 100%;
  height: 200px;
  text-align: center;
}
.navigation_card img {
  width: 95%;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.navigation_card h3 {
  position: relative;
}
.navigation_card h3::before {
  content: "";
  background-color: red;
  width: 80px;
  height: 3px;
  position: absolute;
  left: 30%;
  top: 20px;
}

.login_form {
  width: 25%;
  margin: 20px;
  border: 2px solid #579eff;
  border-radius: 16px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.login_form--input {
  margin: 15px;
  border: 1px solid #003580;
  padding: 5px;
}
.login_form--error {
  color: red;
  text-align: center;
  margin: 12px;
}

.admin {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.admin_form {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid #579eff;
  border-radius: 8px;
  padding: 12px;
  margin: 8px;
  box-sizing: content-box;
}
.admin_form--icons {
  width: 40%;
  text-align: center;
  margin: 5px;
  position: relative;
  padding: 12px;
}
.admin_form--input {
  width: 40%;
  padding: 5px;
  margin: 5px;
  text-align: center;
}
.admin_form--insert {
  opacity: 0;
  position: absolute;
  left: 44%;
  width: 22px;
}
.admin_status {
  width: 40%;
  display: flex;
  justify-content: center;
  align-self: stretch;
  border: 1px solid #579eff;
  border-radius: 8px;
  padding: 12px;
  margin: 8px;
  box-sizing: content-box;
}
.admin_status--picture {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.admin_status--picture img {
  width: 90%;
  -o-object-fit: cover;
     object-fit: cover;
}
.admin_status--right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.admin_login {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #579eff;
  border-radius: 8px;
  padding: 12px;
  margin: 8px;
  box-sizing: content-box;
}
.admin_login--champs {
  margin: 8px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
  margin-right: 30px;
}
.admin_login--champs label {
  margin-right: 12px;
}
.admin_login--champs input {
  width: 40%;
  padding: 5px;
  margin: 5px;
}

.year_menu {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
}

.fullContainer {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-evenly;
  align-content: space-around;
}

.vignette {
  width: 20%;
  border: 1px solid black;
  margin: 8px;
  text-align: center;
}
.vignette_picture {
  width: 100%;
  text-align: center;
}
.vignette_picture img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 95%;
  margin: 5px;
}/*# sourceMappingURL=styles.css.map */