$font_h1 : 30px;
$font_h2 : 20px;
$font_h3 : 18px;
$font_h4 : 14px;

$font_small : 12px;
$font_standard : 14px;
$font_medium : 17px;
$font_large : 19px;
$font_xlarge : 22px;

$font_style_h1 : 'Open Sans';
$font_style_std : 'Rubik';