$margin_xsmall : 3px;
$margin_small : 5px;

$margin_medium : 8px;
$margin_medium_large : 12px;

$margin_large : 15px;
$margin_xlarge : 20px;
$margin_xxl : 30px;

$radius_small: 8px;
$radius_medium: 16px;
$radius_large: 22px;